main {
  /* height: 100vh; */
}
.me-auto {
  /* margin-left: auto; */
  margin-left: auto !important;
}
a {
  text-decoration: none;
}
.btn {
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  margin: 20px;
}
.btn-primary {
  color: #fff;
  background-color: darkslategrey;
  border-color: darkslategrey;
}
.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}
.bestseller {
  text-align: center;
  font-size: 60px;
  background-color: aliceblue;
  margin: 1rem;
}
.footer {
  background-color: darkgray;
  color: #fff;
  height: 70px;
}
.soon {
  font-size: 200px;
  text-align: center;
  color: darkgray;
}
